/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2015, 4:55:13 PM
    Author     : william
*/

html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

ul.menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.menu li{
    float: left;
}

ul.hmenu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.hmenu li{
    margin: 0px;
    padding: 0px;
}

.mainWrap{
    padding-bottom: 240px;
}

.nonselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* tabel opmaak */

.tableWrap{
    position: absolute;
    
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 54px;
    overflow-y: auto;
}

table.full{
    width: 100%;
}

table.dataTable{
    width: 100%;
    border-collapse: collapse;
}

table.dataTable th { 
    background: darkblue;
    text-align: left;
    color: white;
    padding: 10px 8px;
}

table.dataTable th:last-child {
    text-align: right;
}

table.dataTable th:first-child {
    width: 65px;
}

table.dataTable td:first-child {
    text-align: center;
}

table.dataTable tr{
    background: rgba(169, 187, 222, 1);
    
}


table.dataTable tr:nth-child(odd){
    background: rgba(230, 235, 245, 1);
}

table.dataTable td{
    padding: 5px 8px;
}

td.left, tr.left{
    text-align: left;
}

td.center, tr.center, th.center {
    text-align: center !important;
}

td.right, tr.right{
    text-align: right;
    
}

/* form style */

.error{
    color:rgb(230, 0, 0);
}

form input[type=text], form [type=email], form [type=password], form [type=date]{
    font-family: arial;
    border: solid 1px #808080; 
    border-radius: 8px; 
    padding: 5px 10px;
    box-shadow: 1px 1px 2px #888888;
    margin: 10px 5px;
    max-width: 300px;
    outline: none;    
}

form input[type=submit],[type=button]{
    border: outset 1px rgb(128, 128, 128);
    border-radius: 8px; 
    padding: 5px 100px;
    box-shadow: 1px 1px 2px #888888;
    margin: 10px 5px;
    max-width: 300px;
    outline: none;
}

form  input[type=submit]:hover,[type=button]:hover{
    border: inset 1px rgb(128, 128, 128);
    
    box-shadow: 0px 0px 0px rgb(136, 136, 136);
}

form textarea{
    font-family: arial;
    border: solid 1px #808080; 
    border-radius: 8px; 
    padding: 5px;
    box-shadow: 1px 1px 2px #888888;
    margin: 10px 5px;
    width: 626px;
    height: 130px;
    resize: none;
    outline: none;
}

/* slider css */
.discountRangeFeedback{
    
    display: block;
    text-align: center;
}

input[type=range]{
    width: 90%;
    
}

label.error {
    font-size: 10px;
    position: absolute;
    right: 31px;
    top: 6px;
    width: auto !important;
}

.form-group {
    position: relative;
}

input.error {
    border: 1px solid red !important;
}