<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Gmail username</description>
        <param-name>mail</param-name>
        <param-value>autodiesnttotaal</param-value>
    </context-param>
    <context-param>
        <description>Gmail password</description>
        <param-name>mailpass</param-name>
        <param-value>autototaaldienst</param-value>
    </context-param>
    <context-param>
        <description>BTW precentage</description>
        <param-name>tax</param-name>
        <param-value>1.21</param-value>
    </context-param>
    <context-param>
        <description>Parkeren kosten per dag</description>
        <param-name>parkeren</param-name>
        <param-value>20</param-value>
    </context-param>
    <context-param>
        <description>Huur tarief</description>
        <param-name>loanperhour</param-name>
        <param-value>15</param-value>
    </context-param>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>servlet.WEB_Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>servlet.WEB_Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.WEB_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMS</servlet-name>
        <servlet-class>servlet.CMS_Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoorraadBeheer</servlet-name>
        <servlet-class>servlet.CMS_Voorraadbeheer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoorraadBeheerToevoegen</servlet-name>
        <servlet-class>servlet.CMS_Voorraadbeheer_Form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factuur</servlet-name>
        <servlet-class>servlet.CMS_Factuur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factuur_Form</servlet-name>
        <servlet-class>servlet.CMS_Factuur_Form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bestelling</servlet-name>
        <servlet-class>servlet.CMS_Bestelling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bestelling_Aanmaken</servlet-name>
        <servlet-class>servlet.CMS_Bestelling_Form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gebruiker</servlet-name>
        <servlet-class>servlet.CMS_Gebruiker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMS_Gebruiker_Form</servlet-name>
        <servlet-class>servlet.CMS_Gebruiker_Form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Werkplaats</servlet-name>
        <servlet-class>servlet.CMS_Werkplaats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Werkplaats Toevoegen</servlet-name>
        <servlet-class>servlet.CMS_Werkplaats_Toevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registreer</servlet-name>
        <servlet-class>servlet.WEB_Registreer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WEB_Gebruiker_Form</servlet-name>
        <servlet-class>servlet.WEB_Gebruiker_Form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autobeheer</servlet-name>
        <servlet-class>servlet.WEB_Autobeheer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WEB_Activeren</servlet-name>
        <servlet-class>servlet.WEB_Activeren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMS_Factuur_PDF</servlet-name>
        <servlet-class>servlet.CMS_Factuur_PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WEB_Uitloggen</servlet-name>
        <servlet-class>servlet.WEB_Uitloggen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSON_Persons</servlet-name>
        <servlet-class>servlet.JSON_Persons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSON_Person</servlet-name>
        <servlet-class>servlet.JSON_Person</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WEB_Factuur</servlet-name>
        <servlet-class>servlet.WEB_Factuur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WEB_factuur_detail</servlet-name>
        <servlet-class>servlet.WEB_factuur_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WEB_Parkeren</servlet-name>
        <servlet-class>servlet.WEB_Parkeren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMS_Werkplaats_plannen</servlet-name>
        <servlet-class>servlet.CMS_Werkplaats_plannen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMS_Werkplaats_Artikel_Verwijderen</servlet-name>
        <servlet-class>servlet.CMS_Werkplaats_Artikel_Verwijderen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMS_Werkplaats_Artikel_Toevoegen</servlet-name>
        <servlet-class>servlet.CMS_Werkplaats_Artikel_Toevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSON_Articles</servlet-name>
        <servlet-class>servlet.JSON_Articles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMS</servlet-name>
        <url-pattern>/cms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoorraadBeheer</servlet-name>
        <url-pattern>/cms/voorraad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoorraadBeheerToevoegen</servlet-name>
        <url-pattern>/cms/voorraad/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factuur</servlet-name>
        <url-pattern>/cms/factuur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factuur_Form</servlet-name>
        <url-pattern>/cms/factuur/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bestelling</servlet-name>
        <url-pattern>/cms/bestellingen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bestelling_Aanmaken</servlet-name>
        <url-pattern>/cms/bestellingen/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gebruiker</servlet-name>
        <url-pattern>/cms/gebruiker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMS_Gebruiker_Form</servlet-name>
        <url-pattern>/cms/gebruiker/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Werkplaats</servlet-name>
        <url-pattern>/cms/werkplaats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Werkplaats Toevoegen</servlet-name>
        <url-pattern>/cms/werkplaats/toevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registreer</servlet-name>
        <url-pattern>/registreer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WEB_Gebruiker_Form</servlet-name>
        <url-pattern>/klant_form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autobeheer</servlet-name>
        <url-pattern>/autobeheer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WEB_Activeren</servlet-name>
        <url-pattern>/activeren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMS_Factuur_PDF</servlet-name>
        <url-pattern>/cms/factuur/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WEB_Uitloggen</servlet-name>
        <url-pattern>/uitloggen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSON_Persons</servlet-name>
        <url-pattern>/service/persons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSON_Person</servlet-name>
        <url-pattern>/service/person</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WEB_Factuur</servlet-name>
        <url-pattern>/klant/factuur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WEB_factuur_detail</servlet-name>
        <url-pattern>/klant/factuur/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WEB_Parkeren</servlet-name>
        <url-pattern>/klant/parkeren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WEB_Repartie</servlet-name>
        <url-pattern>/klant/reparatie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WEB_Repartie</servlet-name>
        <servlet-class>servlet.WEB_Reparatie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WEB_Reparatie_Form</servlet-name>
        <url-pattern>/klant/reparatie/form</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WEB_Reparatie_Form</servlet-name>
        <servlet-class>servlet.WEB_Reparatie_Form</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CMS_Werkplaats_Uitboeken</servlet-name>
        <url-pattern>/cms/werkplaats/uitboeken</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CMS_Werkplaats_Uitboeken</servlet-name>
        <servlet-class>servlet.CMS_Werkplaats_Uitboeken</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CMS_Werkplaats_plannen</servlet-name>
        <url-pattern>/cms/werkplaats/plannen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMS_Werkplaats_Artikel_Verwijderen</servlet-name>
        <url-pattern>/cms/werkplaats/artikel/verwijderen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMS_Werkplaats_Artikel_Toevoegen</servlet-name>
        <url-pattern>/cms/werkplaats/artikel/toevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSON_Articles</servlet-name>
        <url-pattern>/service/articles</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>FilterForSecurity</filter-name>
        <filter-class>filter.CMSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterForSecurity</filter-name>
        <url-pattern>/cms/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>KlantFilter</filter-name>
        <filter-class>filter.KlantFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>KlantFilter</filter-name>
        <url-pattern>/klant/*</url-pattern>
    </filter-mapping>

</web-app>
